# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Environment & Secrets (Güvenlik / Anahtarlar)
.env
.env.local
*.pem
*.key

# Operating System & Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

